<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.smartbudget.persistence.mappers.BudgetsMapper">

    <resultMap id="budgetResultMap" type="io.smartbudget.persistence.entity.Budget">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="projected" column="projected"/>
        <result property="actual" column="actual"/>
        <result property="periodOn" column="period_on"/>
        <result property="createdAt" column="created_at"/>
        <association property="user" column="user_id" javaType="io.smartbudget.persistence.entity.User"
                     select="selectUser">
        </association>
        <association property="category" column="category_id" select="selectCategory">
        </association>
    </resultMap>

    <resultMap id="userResultMap" type="io.smartbudget.persistence.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="createdAt" column="created_at"/>
        <result property="currency" column="currency"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="io.smartbudget.persistence.entity.Category">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
        <id property="type" column="type"/>
        <id property="createdAt" column="created_at" javaType="java.util.Date"/>
        <association property="user" column="user_id" select="selectUser" javaType="io.smartbudget.persistence.entity.User"/>
    </resultMap>

    <select id="findBudgets" parameterType="map"
            resultMap="budgetResultMap" >
        SELECT * FROM budgets WHERE user_id = #{user.id}
        <if test="period != null" >
            AND period_on = #{period};
        </if>
    </select>

    <select id="selectUser" parameterType="java.lang.Long" resultMap="userResultMap"
            resultType="io.smartbudget.persistence.entity.User">
        SELECT * FROM users WHERE id = #{id};
    </select>

    <select id="selectCategory" parameterType="java.lang.Long" resultMap="categoryResultMap"
            resultType="io.smartbudget.persistence.entity.Category">
        SELECT * FROM categories WHERE id = #{id};
    </select>

    <select id="findLatestBudget" parameterType="io.smartbudget.persistence.entity.User"
            resultMap="budgetResultMap" resultType="io.smartbudget.persistence.entity.Budget">
        SELECT * FROM budgets WHERE user_id = #{id} ORDER BY created_at DESC;
    </select>

    <insert id="save" parameterType="io.smartbudget.persistence.entity.Budget"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO budgets (name, projected, actual, period_on, created_at, user_id, category_id)
        VALUES (#{name}, #{projected}, #{actual}, #{periodOn}, #{createdAt}, #{user.id}, #{category.id});
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultMap="budgetResultMap">
        SELECT * FROM budgets WHERE id = #{id};
    </select>
</mapper>